{% extends "layout.html" %}

{% block main %}

<!-- Image Showcases -->

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/{{ img_loc }}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Face Details:-</h2>
        <p class="lead mb-0">
          <ul>
            <li>Gender: {{ face_attributes['gender']}}</li>
            <li>Approximate Age: {{ face_attributes['age']}} </li>
          </ul>
        
        </p>
      </div>
    </div>


    </div>
  </div>
</section>
{% endblock %}